* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 81%);
  margin: 0 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  margin-top: 10px;
  color: hsl(240, 100%, 50%);
}

p {
  margin-bottom: 10px;
}

strong {
  font-size: 1.2rem;
}
